.footer-child {
  position: absolute;
  top: -1px;
  left: 1px;
  width: 912.44px;
  height: 3.89px;
  mix-blend-mode: normal;
}
.div,
.elb00301gbstuby {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 206px;
  height: 31px;
}
.elb00301gbstuby {
  top: 31px;
  font-size: var(--font-size-xl);
  width: 225px;
  height: 35px;
}
.div1 {
  top: 58.18px;
  left: 1px;
  display: inline-block;
  width: 325px;
  height: 40px;
}
.div1,
.div2,
.text {
  position: absolute;
}
.div2 {
  top: 59.85px;
  left: 365.44px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 302.96px;
  height: 30.08px;
}
.text {
  top: 18.82px;
  left: 0;
  width: 668.4px;
  height: 98.18px;
}
.pngwing-14,
.pngwing-15,
.pngwing-16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 63.51px;
  width: 28.63px;
  height: 34px;
  background-image: url(assets/png/pngwing14@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.pngwing-15,
.pngwing-16 {
  left: 31.31px;
  width: 29.52px;
  background-image: url(assets/png/pngwing15@3x.png);
}
.pngwing-16 {
  left: 0;
  width: 28.63px;
  background-image: url(assets/png/pngwing16@3x.png);
}
.pngwing-16:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.pngwing-16:active {
  display: flex;
  border: 2px solid #d96666;
  box-sizing: border-box;
}
.figma,
.github,
.seti {
  position: absolute;
  top: 8.99px;
  left: 813.23px;
  width: 92.14px;
  height: 34px;
}
.figma,
.github {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 50px;
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 78px;
  height: 36px;
}
.figma {
  top: 36px;
  left: 3px;
  width: 63px;
  height: 34px;
}
.footer,
.ssilki {
  position: absolute;
  top: 42.82px;
  left: 839px;
  width: 78px;
  height: 70px;
}
.footer {
  top: 5868px;
  left: 50px;
  width: 917px;
  height: 117px;
  font-size: var(--font-size-lgi);
}
.section-title-child {
  position: absolute;
  top: 27.96px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 922.6px;
  height: 1px;
}
.div3,
.section-title-item {
  position: absolute;
  left: 154.05px;
  width: 603.59px;
}
.section-title-item {
  top: 0;
  border-radius: 15px;
  height: 58.24px;
}
.div3 {
  top: 7.66px;
  display: inline-block;
  height: 56.58px;
}
.section-title {
  position: absolute;
  top: 0;
  left: 0.9px;
  width: 921.6px;
  height: 64.23px;
}
.cont-fon-child,
.image-13-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 373.86px;
  height: 591.54px;
}
.image-13-icon {
  top: 63.23px;
  left: 53.15px;
  width: 322.51px;
  height: 372.73px;
  object-fit: cover;
}
.cont-fon {
  position: absolute;
  top: 64.46px;
  left: 0;
  width: 375.67px;
  height: 591.54px;
}
.contacts-container-child,
.contacts-container-inner,
.contacts-container-item {
  border: 0;
  background-color: var(--color-lightpink);
  position: absolute;
  top: 28.18px;
  left: 15.39px;
  width: 439.15px;
  height: 45px;
}
.contacts-container-inner,
.contacts-container-item {
  top: 102.18px;
}
.contacts-container-inner {
  top: 181.18px;
  left: 12.75px;
  width: 441.79px;
  height: 144px;
}
.div4,
.div5,
.e-mail {
  position: absolute;
  top: 0;
  left: 8.79px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142.63px;
  height: 29px;
}
.div4,
.div5 {
  top: 76px;
  left: 0;
  width: 175.84px;
  height: 24px;
}
.div5 {
  top: 147px;
  left: 8.79px;
  width: 202.22px;
  height: 39px;
}
.div6,
.rectangle-div {
  position: absolute;
  top: 353.18px;
  width: 352.03px;
  height: 38.27px;
}
.rectangle-div {
  left: 59.4px;
  border-radius: var(--br-41xl);
  background-color: var(--color-rosybrown-200);
}
.div6 {
  left: 62.92px;
  font-size: var(--font-size-21xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-container {
  position: absolute;
  top: 28.82px;
  left: 21px;
  width: 454.55px;
  height: 391.46px;
}
.contacts-container-wrapper {
  position: absolute;
  top: 96px;
  left: 392px;
  width: 496px;
  height: 451px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.cont,
.pngwing-13-icon {
  position: absolute;
  top: 5212px;
  left: 53px;
  width: 922.5px;
  height: 656px;
}
.pngwing-13-icon {
  top: 172.64px;
  left: 0;
  width: 916px;
  height: 599.36px;
  object-fit: cover;
}
.section-title-inner {
  position: absolute;
  top: 3.98px;
  left: 0;
  border-radius: 20px;
  width: 348.57px;
  height: 80.56px;
}
.div7,
.section-title1 {
  position: absolute;
  top: 0;
  width: 348.57px;
}
.div7 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80.56px;
}
.section-title1 {
  left: 106.43px;
  height: 84.53px;
  font-size: var(--font-size-29xl);
}
.price-podveski-child {
  position: absolute;
  top: 123.32px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightpink);
  width: 209.32px;
  height: 319.24px;
}
.div8 {
  top: 160.12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207.55px;
  height: 49.73px;
}
.div8,
.div9,
.pngwing-10-icon {
  position: absolute;
  left: 1.77px;
}
.div9 {
  top: 226.75px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207.55px;
  height: 61.66px;
}
.pngwing-10-icon {
  top: 0;
  border-radius: 28px;
  width: 187.15px;
  height: 160.12px;
  object-fit: cover;
}
.button,
.price-podveski-item {
  position: absolute;
  top: 323.22px;
  height: 45.75px;
}
.price-podveski-item {
  left: 21.29px;
  border-radius: var(--br-11xl);
  width: 168.52px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 24.83px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141.03px;
}
.pngwing-19-icon {
  position: absolute;
  top: 329.19px;
  left: 159.65px;
  width: 29.27px;
  height: 28.84px;
  object-fit: cover;
}
.price-podveski {
  position: absolute;
  top: 147.19px;
  left: 244.8px;
  width: 209.32px;
  height: 442.56px;
}
.div10,
.price-sergi-child {
  position: absolute;
  left: 0;
  width: 209.32px;
}
.price-sergi-child {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightpink);
  height: 319.24px;
}
.div10 {
  top: 25.86px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44.75px;
}
.div11,
.pngwing-11-icon {
  position: absolute;
  left: 3.55px;
  width: 205.77px;
}
.div11 {
  top: 98.46px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61.66px;
}
.pngwing-11-icon {
  top: 257.58px;
  height: 185.98px;
  object-fit: cover;
}
.button1,
.price-sergi-item {
  position: absolute;
  height: 45.75px;
}
.price-sergi-item {
  top: 198.91px;
  left: 22.17px;
  border-radius: var(--br-11xl);
  width: 168.52px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 197.91px;
  left: 24.83px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141.03px;
}
.pngwing-20-icon {
  position: absolute;
  top: 203.88px;
  left: 154.33px;
  width: 29.27px;
  height: 28.84px;
  object-fit: cover;
}
.price-sergi {
  position: absolute;
  top: 147.19px;
  left: 468.31px;
  width: 209.32px;
  height: 443.56px;
}
.div12,
.div13,
.price-braslet-child {
  position: absolute;
  left: 2.66px;
  width: 209.32px;
}
.price-braslet-child {
  top: 123.32px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightpink);
  height: 319.24px;
}
.div12,
.div13 {
  top: 160.12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46.74px;
}
.div13 {
  top: 221.78px;
  height: 61.66px;
}
.pngwing-12-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 213.76px;
  height: 169.07px;
  object-fit: cover;
}
.button2,
.price-braslet-item {
  position: absolute;
  top: 323.22px;
  left: 23.06px;
  height: 45.75px;
}
.price-braslet-item {
  border-radius: var(--br-11xl);
  width: 168.52px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-13xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141.03px;
}
.pngwing-21-icon {
  position: absolute;
  top: 329.19px;
  left: 155.22px;
  width: 29.27px;
  height: 28.84px;
  object-fit: cover;
}
.price-braslet {
  position: absolute;
  top: 147.19px;
  left: 688.28px;
  width: 213.76px;
  height: 442.56px;
}
.price-rings-child {
  position: absolute;
  top: 0;
  left: 22.17px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightpink);
  width: 209.32px;
  height: 319.24px;
}
.pngwing-9-icon {
  position: absolute;
  top: 252.61px;
  left: 0;
  width: 243.03px;
  height: 193.93px;
  object-fit: cover;
}
.div14,
.div15 {
  position: absolute;
  top: 25.86px;
  left: 22.17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209.32px;
  height: 44.75px;
}
.div15 {
  top: 98.46px;
  height: 61.66px;
}
.button3,
.price-rings-item {
  position: absolute;
  height: 45.75px;
}
.price-rings-item {
  top: 198.91px;
  left: 41.69px;
  border-radius: var(--br-11xl);
  width: 168.52px;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 197.91px;
  left: 47.01px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134.82px;
}
.pngwing-19-icon1 {
  position: absolute;
  top: 203.88px;
  left: 174.73px;
  width: 29.27px;
  height: 28.84px;
  object-fit: cover;
}
.price-rings {
  position: absolute;
  top: 147.19px;
  left: 0;
  width: 243.03px;
  height: 446.54px;
}
.fon-child,
.price {
  position: absolute;
  top: 4440px;
  left: 53px;
  width: 916px;
  height: 772px;
}
.fon-child {
  top: 158.74px;
  left: 127.09px;
  width: 728.31px;
  height: 731.39px;
}
.fon,
.line-div,
.pngwing-6-icon {
  position: absolute;
  top: 0;
  width: 855.65px;
  height: 901.82px;
}
.pngwing-6-icon {
  left: 0;
  object-fit: cover;
  mix-blend-mode: lighten;
}
.fon,
.line-div {
  left: 64.06px;
}
.line-div {
  top: 38.28px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 880px;
  height: 1px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 146.47px;
  border-radius: 35px;
  width: 577.42px;
  height: 74.99px;
}
.div16 {
  position: absolute;
  top: 15.58px;
  left: 145.54px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 572.39px;
  height: 44.8px;
}
.image-12,
.section-title2 {
  position: absolute;
  top: 45.77px;
  left: 0;
  width: 879px;
  height: 74.99px;
}
.image-12 {
  top: 228.22px;
  left: 57.29px;
  border-radius: var(--br-3xs);
  width: 700.35px;
  height: 496px;
  background-image: url(assets/png/image12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.video {
  position: absolute;
  top: 3538.18px;
  left: 56px;
  width: 919.71px;
  height: 901.82px;
  font-size: var(--font-size-13xl);
}
.section-title-child1 {
  position: absolute;
  top: 0;
  left: 44.69px;
  background-color: var(--color-rosybrown-100);
  width: 828px;
  height: 165px;
}
.section-title-child2 {
  position: absolute;
  top: 69.66px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 918.38px;
  height: 1px;
}
.div17,
.section-title-child3 {
  position: absolute;
  top: 24.34px;
  height: 99.89px;
}
.section-title-child3 {
  left: 248.46px;
  border-radius: var(--br-41xl);
  background-color: var(--color-rosybrown-200);
  width: 420.46px;
}
.div17 {
  left: 245.91px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 423.01px;
}
.image-11-icon,
.section-title3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 917.38px;
  height: 165px;
}
.image-11-icon {
  left: 0.44px;
  border-radius: var(--br-8xs);
  width: 235.71px;
  height: 398.33px;
  object-fit: cover;
}
.div18,
.offer3-child {
  position: absolute;
  height: 181px;
}
.offer3-child {
  top: 170.33px;
  left: 0.24px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightpink);
  width: 235.61px;
}
.div18 {
  top: 170.15px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 236px;
}
.image-10-icon,
.offer3 {
  position: absolute;
  top: 184.17px;
  left: 604px;
  width: 236.15px;
  height: 398.33px;
}
.image-10-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 235.71px;
  height: 490.83px;
  object-fit: cover;
}
.div19,
.offer2-child {
  position: absolute;
  left: 0;
  width: 235.61px;
}
.offer2-child {
  top: 219px;
  border-radius: var(--br-3xs);
  height: 158px;
}
.div19 {
  top: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 155px;
}
.icon,
.offer2 {
  position: absolute;
  top: 91.5px;
  left: 305.91px;
  width: 235.71px;
  height: 490.83px;
}
.icon {
  top: 0;
  left: 0.5px;
  border-radius: var(--br-8xs);
  width: 243.36px;
  height: 582.5px;
  object-fit: cover;
}
.div20,
.offer1-child {
  position: absolute;
  height: 178px;
}
.offer1-child {
  top: 231.5px;
  left: 0.42px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightpink);
  width: 243.68px;
}
.div20 {
  top: 231.32px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 244px;
}
.offer-items,
.offer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 244.1px;
  height: 582.5px;
}
.offer-items {
  top: 209.68px;
  left: 39px;
  width: 840.15px;
  font-size: var(--font-size-13xl);
}
.ring-icon {
  position: absolute;
  top: 96px;
  left: 601px;
  width: 293.53px;
  height: 227px;
  object-fit: cover;
}
.offer {
  position: absolute;
  top: 2746px;
  left: 53px;
  width: 917.38px;
  height: 792.18px;
  font-size: var(--font-size-29xl);
}
.ekskl-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-rosybrown-100);
  width: 269.33px;
  height: 44.03px;
}
.div21,
.ekskl,
.skidki-child {
  position: absolute;
  top: 0;
  width: 272.37px;
}
.div21 {
  left: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41.98px;
}
.ekskl,
.skidki-child {
  left: 633.7px;
  height: 44.03px;
}
.skidki-child {
  top: 1px;
  left: 3.71px;
  border-radius: var(--br-8xs);
  background-color: var(--color-rosybrown-100);
  width: 270.34px;
}
.div22,
.skidki {
  position: absolute;
  top: 0;
}
.div22 {
  left: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 273.39px;
  height: 41.98px;
}
.skidki {
  left: 324.74px;
  width: 274.05px;
  height: 45.03px;
}
.button4,
.popylar-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  width: 269.33px;
}
.popylar-child {
  background-color: var(--color-rosybrown-100);
  top: 1px;
  left: 1.86px;
  border-radius: var(--br-8xs);
  height: 44.03px;
}
.button4 {
  background-color: transparent;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41.98px;
}
.kartinki-btns,
.kartinki6-child,
.popylar {
  position: absolute;
  top: 0;
  left: 0;
  width: 271.18px;
  height: 45.03px;
}
.kartinki-btns,
.kartinki6-child {
  width: 906.08px;
}
.kartinki6-child {
  width: 257px;
  height: 287px;
  object-fit: cover;
}
.div23,
.div24,
.kartinki6-item {
  position: absolute;
  top: 310px;
  left: 4px;
  width: 253px;
  height: 87px;
}
.div23,
.div24 {
  top: 354px;
  left: 7px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 251.03px;
  height: 34.81px;
}
.div24 {
  top: 311px;
  left: 4px;
  width: 253.06px;
  height: 44.03px;
}
.kartinki5-child,
.kartinki6 {
  position: absolute;
  top: 431px;
  left: 635px;
  width: 258.03px;
  height: 397px;
}
.kartinki5-child {
  top: 306px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 254px;
  height: 87px;
}
.div25 {
  position: absolute;
  top: 307px;
  left: 1px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253.06px;
  height: 44.03px;
}
.div26,
.kartinki5-item {
  position: absolute;
  left: 0;
}
.div26 {
  top: 350px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 251.03px;
  height: 34.81px;
}
.kartinki5-item {
  top: 0;
  width: 254.08px;
  height: 286.69px;
  object-fit: cover;
}
.kartinki4-item,
.kartinki5 {
  position: absolute;
  top: 435px;
  left: 320px;
  width: 254.08px;
  height: 393px;
}
.kartinki4-item {
  top: 0;
  left: 0;
  width: 255px;
  height: 287px;
  object-fit: cover;
}
.div27,
.div28 {
  position: absolute;
  top: 350.15px;
  left: 9.72px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 251.03px;
  height: 34.81px;
}
.div28 {
  top: 307.15px;
  left: 0.45px;
  width: 253.06px;
  height: 44.03px;
}
.kartinki3-child,
.kartinki4 {
  position: absolute;
  top: 435px;
  left: 0;
  width: 260.76px;
  height: 393px;
}
.kartinki3-child {
  top: 0;
  left: 3px;
  width: 254.08px;
  height: 286.69px;
  object-fit: cover;
}
.kartinki3-item {
  position: absolute;
  top: 311px;
  left: 0;
  background-color: var(--color-lightpink);
  width: 257px;
  height: 83px;
}
.div29,
.div30 {
  position: absolute;
  top: 309px;
  left: 3px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253.06px;
  height: 44.03px;
}
.div30 {
  top: 352px;
  left: 24px;
  width: 230px;
  height: 35px;
}
.kartinki3 {
  position: absolute;
  top: 0;
  left: 635px;
  width: 257.08px;
  height: 394px;
}
.div31,
.div32,
.kartinki2-item {
  position: absolute;
  top: 310px;
  left: 0;
  width: 254px;
  height: 83px;
}
.div31,
.div32 {
  top: 308px;
  left: 1px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253.06px;
  height: 44.03px;
}
.div32 {
  top: 352px;
  left: 6px;
  width: 254px;
  height: 35px;
}
.kartinki1-child,
.kartinki2 {
  position: absolute;
  top: 1px;
  left: 320px;
  width: 260px;
  height: 393px;
}
.kartinki1-child {
  top: 0;
  left: 0.3px;
  width: 254.08px;
  height: 286.69px;
  object-fit: cover;
}
.div33,
.div34,
.kartinki1-item {
  position: absolute;
  top: 311px;
  left: 0.3px;
  width: 254.08px;
  height: 87.03px;
}
.div33,
.div34 {
  top: 312px;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253.06px;
  height: 44.03px;
}
.div34 {
  top: 359px;
  left: 7.72px;
  width: 251.03px;
  height: 34.81px;
}
.kartinki-items,
.kartinki1 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 258.76px;
  height: 398.03px;
}
.kartinki-items {
  top: 69.85px;
  left: 6.98px;
  width: 893.03px;
  height: 828px;
}
.kartinki,
.pngwing-1-icon {
  position: absolute;
  top: 1829.15px;
  left: 57.02px;
  width: 906.08px;
  height: 897.85px;
}
.pngwing-1-icon {
  height: 99.34%;
  top: 0;
  bottom: 0.66%;
  left: 0;
  max-height: 100%;
  width: 915.71px;
  object-fit: cover;
}
.kat-prochee-child {
  position: absolute;
  top: 0;
  left: 0.96px;
  background-color: var(--color-white);
  width: 191.15px;
  height: 263.55px;
}
.div35 {
  position: absolute;
  top: 220.59px;
  left: 0;
  display: inline-block;
  width: 190.85px;
  height: 45.18px;
}
.image-9-icon {
  position: absolute;
  top: 27.23px;
  left: 32.18px;
  width: 139.54px;
  height: 197.66px;
  object-fit: cover;
}
.kat-kolye-child,
.kat-prochee {
  position: absolute;
  top: 438.74px;
  left: 701.56px;
  width: 192.1px;
  height: 265.77px;
}
.kat-kolye-child {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 191.15px;
  height: 263.55px;
}
.div36 {
  position: absolute;
  top: 220.82px;
  left: 0.36px;
  display: inline-block;
  width: 190.85px;
  height: 45.18px;
}
.image-8-icon {
  position: absolute;
  top: 12.3px;
  left: 13.38px;
  width: 172.67px;
  height: 202.05px;
  object-fit: cover;
}
.kat-kolye {
  position: absolute;
  top: 438.74px;
  left: 480.79px;
  width: 191.21px;
  height: 266px;
}
.kat-braslet-child {
  position: absolute;
  top: 0;
  left: 0.32px;
  background-color: var(--color-white);
  width: 191.15px;
  height: 263.55px;
}
.div37 {
  position: absolute;
  top: 216.48px;
  left: 0;
  display: inline-block;
  width: 191.74px;
  height: 35.94px;
}
.image-7-icon {
  position: absolute;
  top: 27.23px;
  left: 34.72px;
  width: 121.7px;
  height: 172.18px;
  object-fit: cover;
}
.image-6-icon,
.kat-braslet {
  position: absolute;
  top: 438.74px;
  left: 242.81px;
  width: 191.74px;
  height: 263.55px;
}
.image-6-icon {
  top: 24.6px;
  left: 33.13px;
  width: 129.34px;
  height: 178.33px;
  object-fit: cover;
}
.div38 {
  position: absolute;
  top: 210.32px;
  left: 59.24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72.58px;
  height: 45.18px;
}
.div39,
.kat-cepi {
  position: absolute;
  top: 438.74px;
  left: 21.4px;
  width: 191.15px;
  height: 263.55px;
}
.div39 {
  top: 203.16px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190.85px;
  height: 45.18px;
}
.image-5-icon {
  position: absolute;
  top: 8.78px;
  left: 20.71px;
  width: 151.01px;
  height: 208.2px;
  object-fit: cover;
}
.div40,
.kat-sergy {
  position: absolute;
  top: 80.31px;
  left: 701.56px;
  width: 192.1px;
  height: 263.55px;
}
.div40 {
  top: 203.16px;
  left: 48.74px;
  display: flex;
  align-items: center;
  width: 119.17px;
  height: 45.18px;
}
.image-4-icon {
  position: absolute;
  top: 10.54px;
  left: 22.3px;
  width: 148.46px;
  height: 204.69px;
  object-fit: cover;
}
.kat-podveski {
  position: absolute;
  top: 80.31px;
  left: 480.79px;
  width: 191.15px;
  height: 263.55px;
  text-align: left;
}
.image-3-icon {
  position: absolute;
  top: 10.54px;
  left: 21.03px;
  width: 148.46px;
  height: 204.69px;
  object-fit: cover;
}
.div41 {
  position: absolute;
  top: 199.29px;
  left: 3.27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188.16px;
  height: 57.51px;
}
.div42,
.kat-obrychalnye {
  position: absolute;
  top: 80.31px;
  left: 243.13px;
  width: 191.42px;
  height: 263.55px;
}
.div42 {
  top: 198.03px;
  left: 26.98px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135.71px;
  height: 48.32px;
}
.rectangle-icon1 {
  position: absolute;
  top: 10.54px;
  left: 28.67px;
  width: 138.9px;
  height: 191.51px;
  object-fit: cover;
}
.items,
.kat-kolsa {
  position: absolute;
  top: 80.31px;
  left: 21.4px;
  width: 191.15px;
  height: 263.55px;
}
.items {
  height: 92.34%;
  top: 7.66%;
  bottom: 0;
  left: 0.9px;
  width: 915.71px;
}
.section-title-child4 {
  position: absolute;
  top: 35.52px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 918.5px;
  height: 1px;
}
.section-title-child5 {
  position: absolute;
  top: 0;
  left: 277.8px;
  border-radius: var(--br-3xs);
  background-color: var(--color-rosybrown-100);
  width: 362.54px;
  height: 73.79px;
}
.div43 {
  position: absolute;
  top: 19.51px;
  left: 344.96px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228.1px;
  height: 35.14px;
}
.section-title4 {
  top: 0;
  left: 0;
  height: 73.79px;
  font-size: var(--font-size-21xl);
}
.katalog,
.pngwing-4-icon,
.section-title4 {
  position: absolute;
  width: 917.5px;
}
.katalog {
  height: 12.75%;
  top: 17.18%;
  bottom: 70.07%;
  left: 50px;
  font-size: var(--font-size-5xl);
}
.pngwing-4-icon {
  top: 0;
  left: 0;
  height: 829.93px;
  object-fit: cover;
}
.elite,
.elite1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 493px;
  height: 102px;
}
.elite1 {
  top: 133.2px;
  font-size: var(--font-size-13xl);
  width: 490px;
  height: 594.76px;
}
.vstupl-text {
  position: absolute;
  top: 55px;
  left: 40.75px;
  width: 493px;
  height: 727.97px;
}
.vstupl-ris-child {
  position: absolute;
  top: 0.07px;
  left: 0.54px;
  width: 344.96px;
  height: 782.89px;
}
.image-2-icon,
.pngwing-7-icon {
  position: absolute;
  object-fit: cover;
}
.image-2-icon {
  top: 156.77px;
  left: 17.57px;
  border-radius: var(--br-3xs);
  width: 309.44px;
  height: 610.37px;
}
.pngwing-7-icon {
  top: 0;
  left: 0;
  width: 344.96px;
  height: 156.77px;
}
.vstupl,
.vstupl-ris {
  position: absolute;
  top: 0;
  left: 572px;
  width: 345.5px;
  height: 782.97px;
}
.vstupl {
  top: 198px;
  left: 50px;
  width: 917.5px;
  height: 829.93px;
  text-align: left;
}
.btm-kontakty-child {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-rosybrown-100);
  position: absolute;
  top: 0;
  left: 1.9px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 135.81px;
  height: 46.98px;
}
.btm-kontakty,
.div44 {
  position: absolute;
  top: 0;
  width: 139.61px;
  height: 46.98px;
}
.div44 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btm-kontakty {
  left: 342.55px;
}
.btm-price-child {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-rosybrown-100);
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 47.02px;
}
.btm-price,
.btm-price-child,
.btm-video-child,
.div45 {
  position: absolute;
  top: 0;
  width: 78.83px;
}
.div45 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46.98px;
  cursor: pointer;
}
.btm-price,
.btm-video-child {
  left: 237.13px;
  height: 47.02px;
}
.btm-video-child {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-rosybrown-100);
  top: 0.08px;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 79.78px;
}
.btm-video,
.div46 {
  position: absolute;
  top: 0;
  width: 79.78px;
}
.div46 {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46.98px;
  cursor: pointer;
}
.btm-video {
  left: 128.86px;
  height: 47.1px;
}
.btm-katalog-child {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-rosybrown-100);
  top: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.btm-katalog,
.btm-katalog-child,
.div47 {
  position: absolute;
  left: 0;
  width: 105px;
  height: 46px;
}
.div47 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btm-katalog {
  top: 0.57px;
  font-size: 23px;
}
.nav,
.nav-child {
  position: absolute;
  top: 63.57px;
  left: 0;
  width: 918px;
  height: 3px;
}
.nav {
  top: 103.43px;
  height: 66.57px;
}
.button5,
.korzina-child,
.pngwing-22 {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.korzina-child {
  border: 1px solid var(--color-black);
  background-color: var(--color-rosybrown-100);
  top: 11px;
  left: 9px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 136.7px;
  height: 58.79px;
}
.button5,
.pngwing-22 {
  border: 0;
  background-color: transparent;
}
.pngwing-22 {
  top: 28px;
  left: 32px;
  width: 18.04px;
  height: 22.5px;
  background-image: url(assets/png/pngwing22@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button5 {
  top: 26px;
  left: 54px;
  font-size: var(--font-size-xl);
  font-family: var(--font-courier-new);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 86px;
  height: 28px;
}
.korzina {
  position: absolute;
  top: 1px;
  left: 514px;
  width: 158px;
  height: 82px;
  overflow: hidden;
}
.elite-1-icon {
  position: absolute;
  top: 3px;
  left: 183px;
  border-radius: 100px;
  width: 46.54px;
  height: 48.06px;
  object-fit: cover;
}
.div48 {
  position: absolute;
  top: 51px;
  left: 65px;
  display: inline-block;
  width: 282.07px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.elite2,
.header,
.up {
  position: absolute;
  top: 0;
  height: 93px;
}
.elite2 {
  left: 0;
  width: 392px;
  overflow: hidden;
}
.header,
.up {
  left: 255px;
  width: 672px;
  font-size: var(--font-size-13xl);
}
.header {
  top: 11px;
  left: 50px;
  width: 927px;
  height: 170px;
  font-size: var(--font-size-5xl);
}
.laptop {
  position: relative;
  background-color: #e6e6e6;
  width: 100%;
  height: 5985px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-courier-new);
}
